workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "29e498c7-73ce-4eda-b198-7d7b105da7aa",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [656, 0],
      "id": "1cb9fa00-a12b-47de-ad86-24b1eb6bf17f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Make sure choices exist\nif (!$json.choices || $json.choices.length === 0) {\n  throw new Error('No choices found in AI output');\n}\n\n// Get the full email text\nconst fullText = $json.choices[0].message.content;\nif (!fullText) {\n  throw new Error('Content is empty');\n}\n\n// Extract SHORT_REF and CORE_ACTIVITY\nconst shortRefMatch = fullText.match(/SHORT_REF:\\s*(.+)/);\nconst coreActivityMatch = fullText.match(/CORE_ACTIVITY:\\s*(.+)/);\nconst shortRef = shortRefMatch ? shortRefMatch[1].trim() : \"\";\nconst coreActivity = coreActivityMatch ? coreActivityMatch[1].trim() : \"\";\n\n// Remove SHORT_REF and CORE_ACTIVITY from email body\nconst emailBody = fullText.replace(/SHORT_REF:.+/s, \"\").replace(/CORE_ACTIVITY:.+/s, \"\").trim();\n\n// Get lead info from loop\nconst firstName = $('Loop Over Items').item.json.first_name;\nconst lastName = $('Loop Over Items').item.json.last_name;\nconst email = $('Loop Over Items').item.json.email;\n\n// Check if email exists\nif (!email || email.trim() === '') {\n  throw new Error(`Email of ${firstName} ${lastName} is not found, please delete it from the file then upload it again`);\n}\n\nconst lead = $('Qwen Ai').item.json;\n\nreturn {\n  email: email,\n  first_name: firstName,\n  last_name: lastName,\n  company_name: $('Loop Over Items').item.json.company,\n  location: $('Loop Over Items').item.json.country,\n  personalization: emailBody,\n  custom_variables_short_ref: shortRef,\n  custom_variables_core_activity: coreActivity,\n  custom_variables_location: lead.country,\n  email_body: emailBody\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1296, 16],
      "id": "960cfd9b-16c2-4234-ba66-03928296e341",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const csvText = $json.data;\nconst lines = csvText.split('\\r\\n').filter(line => line.trim() !== '');\nconst headers = lines[0].split(',');\n\nfunction parseCSVLine(line) {\n  const values = [];\n  let current = '';\n  let inQuotes = false;\n  for (let i = 0; i < line.length; i++) {\n    const char = line[i];\n    if (char === '\"') {\n      inQuotes = !inQuotes;\n    } else if (char === ',' && !inQuotes) {\n      values.push(current.trim());\n      current = '';\n    } else {\n      current += char;\n    }\n  }\n  values.push(current.trim());\n  return values;\n}\n\nconst results = [];\nfor (let i = 1; i < lines.length; i++) {\n  const values = parseCSVLine(lines[i]);\n  const row = {};\n  headers.forEach((header, index) => {\n    row[header.trim()] = values[index] || '';\n  });\n  results.push({\n    json: {\n      first_name: row['First Name'],\n      last_name: row['Last Name'],\n      title: row['Title'],\n      company: row['Company Name'],\n      email: row['Email'],\n      industry: row['Industry'],\n      country: row['Country'],\n      keywords: row['Keywords']\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [384, 0],
      "id": "18fbb6ed-0fd3-4ace-b65e-e49827c732d0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "YOUR_GOOGLE_SHEETS_CSV_URL",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [192, 0],
      "id": "18ef33f7-a483-43da-be32-1bd0dee9be8e",
      "name": "Google Sheet import"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v2/leads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instantlyApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "email", "value": "={{ $json.email }}" },
            { "name": "first_name", "value": "={{ $json.first_name }}" },
            { "name": "last_name", "value": "={{ $json.last_name }}" },
            { "name": "company_name", "value": "={{ $json.company_name }}" },
            { "name": "personalization", "value": "={{ $json.personalization }}" },
            { "name": "campaign", "value": "YOUR_INSTANTLY_CAMPAIGN_ID" },
            { "name": "custom_variables[short_ref]", "value": "={{ $json.custom_variables_short_ref }}" },
            { "name": "custom_variables[core_activity]", "value": "={{ $json.custom_variables_core_activity }}" },
            { "name": "custom_variables[location]", "value": "={{ $json.custom_variables_location }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1536, 208],
      "id": "1415242e-391a-4d23-a759-3123bf513420",
      "name": "Add lead to campaign"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_QWEN_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen-plus\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a B2B sales email writer for [YOUR COMPANY NAME].\\n\\nWrite a cold outreach email to the following person:\\nName: {{ $json.first_name }} {{ $json.last_name }}\\nTitle: {{ $json.title }}\\nCompany: {{ $json.company }}\\nIndustry: {{ $json.industry }}\\nCountry: {{ $json.country }}\\nKeywords: {{ $json.keywords }}\\n\\nFollow this exact structure:\\n1. Line 1: Start with \\\"Hi {{ $json.first_name }},\\\"\\n2. Line 2-3: Write 1-2 personalized sentences referencing something specific about {{ $json.company }} and their work in {{ $json.country }}. Use the Keywords field to reference a specific project focus or activity. This is the ONLY part that changes per lead.\\n\\nThen continue with this exact text, do not change it:\\n\\\"[YOUR FIXED EMAIL BODY HERE]\\\"\\n\\nAlso at the very end, after the email, output exactly this format on a new line:\\nSHORT_REF: [write a 4-6 word phrase summarizing their main project focus, extracted from the Keywords field]\\nCORE_ACTIVITY: [write one short sentence describing what this company mainly does, based on Industry and Keywords]\\n\\nRules:\\n- Output ONLY the email body followed by SHORT_REF and CORE_ACTIVITY lines\\n- Do NOT change anything in the fixed email body\\n- Sound human, not like AI\\n- Do NOT use generic phrases like \\\"I hope this email finds you well\\\"\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1008, 16],
      "id": "ba65cc85-d2bb-45eb-b351-034ecabe2597",
      "name": "Qwen Ai"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "Google Sheet import", "type": "main", "index": 0 }]]
    },
    "Loop Over Items": {
      "main": [[], [{ "node": "Qwen Ai", "type": "main", "index": 0 }]]
    },
    "Code in JavaScript": {
      "main": [[{ "node": "Add lead to campaign", "type": "main", "index": 0 }]]
    },
    "Code in JavaScript1": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "Google Sheet import": {
      "main": [[{ "node": "Code in JavaScript1", "type": "main", "index": 0 }]]
    },
    "Add lead to campaign": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "Qwen Ai": {
      "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  }
}
